div
      span.main_section__quiz__quiz_number=quizNumber
      span.main_section__quiz__quiz=quiz
      div
      if (choices)
        h6=choices[0]
        h6=choices[1]
        h6=choices[2]
        h6=choices[3]